<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eren Gold</title>
    <link rel="icon" href="../../static/logo/logo_eren.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
<body>
<div class="text-center my-5">
    <h1 class="font-bold text-3xl">Giá vàng</h1>
    <h6 class="text-base text-blue-500">Cập nhập lúc: {{ date_update }}</h6>
</div>
<div class="relative overflow-x-auto mx-auto w-11/12 shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr class="text-center">
            <th scope="col" class="px-6 py-3 text-xl">LOẠI VÀNG</th>
            <th scope="col" class="px-6 py-3 text-xl">MUA</th>
            <th scope="col" class="px-6 py-3 text-xl">BÁN</th>
        </tr>
        </thead>
        <tbody>
        {% for data in data_gold %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ data.type }}</th>
                <td class="text-center px-6 py-4 text-green-300 font-bold">{{ data.buy }}</td>
                <td class="text-center px-6 py-4 text-red-300 font-bold">{{ data.sale }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<footer class="fixed bottom-0 w-full bg-white dark:bg-gray-900 text-center md:mt-50">
    <div class="px-4 py-6 bg-gray-100 dark:bg-gray-700">
        <span class="text-sm text-gray-500 dark:text-gray-300">© 2024 Đức Quyết</span>
    </div>
</footer>
</body>
</html>
